<!DOCTYPE HTML>
<html>
    <head>
        <title> I got this yo </title>
    </head>
    <body>
        <canvas id="playArea" width="1280" height="720"></canvas>
        <script src="js/game.js"></script>
    </body>
</html>
