<!DOCTYPE HTML>
<html>
    <head>
        <title> I got this yo </title>
    </head>
    <body>
        <canvas id="playArea" width="1280" height="720"></canvas>
        <script>
            var canvas = document.getElementById('playArea');
            var context = canvas.getContext('2d');

            context.rect(0, 0, 10, 10);
            context.fillStyle = 'yellow';
            context.fill();
        </script>
    </body>
</html>
