<!DOCTYPE html>
<html>

<head>
    <title>MultiSand</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.min.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
</head>

<body>
    <h1 class="center title"><img src="/images/title.png"</img></h1>

    <div id="newroom" class="center">
        <button class="new-room-btn" onclick="newRoom()">New Sandbox</button>
    </div>

    <div id="play" class="center">
        <table>
            <tr>
            <td>
                <canvas id="playArea" width="1280" height="720"></canvas>
            </td>
            <td>
                <div id="chat" class="chat-box">
                    <ul id="chatlist" class="chat-message">
                    </ul>
                    <form id="chat" action="">
                        <input id="m" autocomplete="off" />
                        <button>Send</button>
                    </form>
                </div>
            </td>
            </tr>
            <tr>
                <td>
                    <form id="color" action="">
                        <input type='text' id="flat" />
                    </form>
                </td>
            </tr>
    </div>

    <script src="/js/home.js"></script>
</body>

</html>
